/vendor/
/logs/*
!/logs/README.md
/coverage/
*.php_cs.cache
.phpcs.cache
/nbproject/
/build/
/cache/
/.cache/
/.env
/.scannerwork/
/.phpunit.result.cache
.phpunit.cache/

storage/cache/*
!storage/cache/.gitkeep
storage/log/*
!storage/log/.gitkeep
storage/locks/*
!storage/locks/.gitkeep
storage/test_database.sqlite